body {
  text-align: center;
  font-family: "Martian Mono", monospace;
  color: rgb(255, 255, 255);
  background-color: black;
}

h1 {
  font-size: 80px;
  font-family: "Special Gothic Expanded One", sans-serif;
}

h2 {
  font-size: 25px;
}

#title {
  flex-direction: row;
  justify-content: center;
  display: flex;
  align-items: center;
  margin: -50px;
}

#movie-result {
  background: rgba(252, 218, 0);
  border: 5px solid black;
  font-size: 24px;
  min-height: 160px;
  margin-top: 10px;
  margin-bottom: 20px;
}

#book-result {
  background: rgba(252, 218, 0);
  border: 5px solid black;
  font-size: 24px;
  min-height: 160px;
  margin-top: 10px;
  margin-bottom: 20px;
}

hr {
  height: 5px;
  background-color: black;
}
